@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#flexContainer {
	display: flex;
	height: 100%;
}

a{
	text-decoration: none;
}

.flexCenter {
	justify-content: center;
	align-items: center;
}

.marBottom10 {
	margin-bottom: 10px;
}

.solidForm {
	padding: 15px;
	border: 1px solid #bdc3c7;
}

